.wrapper{
  background-color: #aaFFFF;
  width: 50%;
  border: 1px solid #0000FF;
  margin: 30px auto;
  &__question{
    color: $blue;
    width: 300px;
    font-weight: bold;
  }
  .select{
    border: 1px solid #0000FF;
    background-color: white;
    color: #0000FF;
  }
}