.title{
  width: 300px;
  text-align: center;
  font-size: 30px;
  color: $blue;
  border: 1px solid $blue;
  margin: 10px auto;
  padding: 10px;
}

.wrapper{
  background-color: #aaFFFF;
  width: 50%;
  border: 1px solid #0000FF;
  margin: 30px auto;
  &__question{
    color: $blue;
    width: 300px;
    font-weight: bold;
  }
  .select{
    border: 1px solid #0000FF;
    background-color: white;
    color: #0000FF;
  }
}

.send{
  width: 300px;
  text-align: center;
  border: 1px solid $blue;
  background-color: #aaffff;
  color: $blue;
  display: block;
  text-decoration: none;
  font-size: 30px;
  margin: 10px auto;
  padding: 10px;
}